<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <img
          src="/public/images/logo-mercado-liebre.svg"
          width="300"
          height="50"
          alt="Logo de Mercado Liebre"
        />
        <input type="text" placeholder="Buscar..." />
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
          <li><a href="/ofertas">Ofertas</a></li>
          <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
          <li><a href="/vender">Vender</a></li>
          <li><a href="/ayuda">Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="/registro">Creá tu cuenta</a></li>
          <li><a href="/login">Ingresá</a></li>
          <li><a href="/mis-compras">Mis compras</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
