

<footer> 

    Tendrá las siguientes secciones:
    <section> 
        <h3> Pagá con tarjeta o en efectivo </h3>
        <p> Con nuestra tienda, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
    </section>

    <section>
        <h3> Envío gratis desde 2.500 puntos </h3>
        <p> Solo por estar registrad@ en nuestra tienda tienes envíos gratis en miles de productos. </p>
    </section>

    <section>
        <h3> Seguridad de principio a fin <h3>
        <p> ¿No te gusta? ¡Devuélvelo! En nuestra tienda no hay nada que no puedas hacer, porque estás siempre protegid@. </p>
    </section>

</footer>