<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/views/login.css" />
  </head>

  <body>
    <header class="header-log">
      <nav>
        <div class="navbar-top">
          <div class="logo">
            <a href="/">
              <img
                class="responsive"
                src="./images/logo-mercado-liebre.svg"
                alt="Logo de Mercado Liebre"
              />
            </a>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <div class="form-container">
          <h3>Ingrese a su cuenta</h3>
          <form action="/login" method="POST">
            <div class="login-user">
              <input
                placeholder="Usuario"
                type="text"
                name="user"
                id="user-input"
                minlength="4"
                required
              /><br />
            </div>
            <div>
              <input
                placeholder="Contraseña"
                type="password"
                name="contrasena"
                minlength="6"
                id="contrasena-input"
                required
              /><br />
            </div>
            <button class="submit-btn" type="submit">Continuar</button>
            <span>
              Aún no tienes una cuenta?
              <a href="/registro">Registrate aquí</a>
            </span>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
