<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/registro/registro.css" />
  </head>

  <body>
    <header class="header-log">
      <nav>
        <div class="logo">
          <a href="/">
            <img
              class="responsive"
              src="./images/logo-mercado-liebre.svg"
              alt="Logo de Mercado Liebre"
            />
          </a>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <form action="/registro" method="post" class="registroForm">
          <h2 class="form-title">Regístrate</h2>
          <div class="name-container">
            <input
              type="text"
              placeholder="Nombre"
              required
              name="nombre"
              id="nombre"
            />
            <input
              type="text"
              placeholder="Apellido"
              required
              name="apellido"
              id="apellido"
            />
          </div>
          <div class="fecha-registro">
            <label class="nacimiento" for="nacimiento"
              >Fecha de nacimiento
              <input
                type="date"
                placeholder="Fecha de nacimiento"
                required
                name="nacimiento"
                id="nacimiento"
              />
            </label>
            <input
              type="text"
              placeholder="Domicilio"
              required
              name="domicilio"
              id="domicilio"
            />
          </div>

          <div class="user-pref">
            <div class="registro-perfil">
              <label class="perfil-label"
                >Seleccione un perfil
                <select class="perfil-select" name="perfil" id="perfil">
                  <option value="comprador">Comprador</option>
                  <option value="vendedor">Vendedor</option>
                </select>
              </label>
            </div>
            <div class="registro-categorias">
              <h3 class="categorias-label">Categorias de interés</h3>
              <div class="categorias-inputs">
                <label for="electro">
                  <input
                    class="checkbox"
                    type="checkbox"
                    id="electro"
                    value="Electro"
                  />
                  Electro
                </label>
                <label for="moda">
                  <input
                    class="checkbox"
                    type="checkbox"
                    id="moda"
                    value="moda"
                  />
                  Moda
                </label>
                <label for="hogar">
                  <input
                    class="checkbox"
                    type="checkbox"
                    id="hogar"
                    value="hogar"
                  />
                  hogar
                </label>
                <label for="juegueteria">
                  <input
                    class="checkbox"
                    type="checkbox"
                    id="jugueteria"
                    value="jugueteria"
                  />
                  Jugueteria
                </label>
                <label for="">
                  <input
                    class="checkbox"
                    type="checkbox"
                    id="vida-sana"
                    value="vida-sana"
                  />
                  Vida sana
                </label>
              </div>
            </div>
          </div>

          <label class="avatar-label" for="imagen"
            >Avatar
            <input type="file" id="imagen" name="imagen" accept="image/jpeg" />
          </label>
          <input
            type="password"
            placeholder="Contraseña"
            required
            name="password"
            id="password"
          />
          <button class="register-btn" type="submit">Registrarme</button>
          <div class="button-group-registro">
            <a href="/">Ir a página principal</a>
            <button class="reset-btn" type="reset">
              <i class="fa-solid fa-rotate-right"></i>
            </button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
